<%- model_class = Question -%>
<div class="panel panel-default">
  <div class="panel-body">
    <h4>
      <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_question_path,
                  :class => 'btn btn-primary pull-right' %>
    </h4>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body" style="max-height: 80rem; overflow: auto">
    <div class="col-md-8 col-md-offset-2">
      <% @questions.each do |question| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>Standard: <%= question.standard.name %></td>
                  <td>Division: <%= question.division.name %></td>
                </tr>
                <tr>
                  <td>Subject: <%= question.subject.name %></td>
                  <td>
                    <span class="label label-warning">Type: <%= question.question_type %></span>
                    <span class="label label-danger">Marks: <%= question.marks %></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="panel-body">
            <%= question.question %>
          </div>
          <div class="panel-footer">
            <i>By: <%= question.teacher.fullname %></i>
            <span class="pull-right">
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          question_path(question), :class => 'btn btn-default btn-xs ' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_question_path(question), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          question_path(question),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-xs btn-danger' %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

