<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-body">
        <%= link_to standards_path do %>
          <span class="fa fa-book centered-image" style="font-size: 10rem;"></span>
        <% end %>
      </div>
      <div class="panel-footer">
        <div class="text-center">
          <%= t('standards').upcase %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-body">
        <%= link_to divisions_path do %>
          <span class="fa fa-book centered-image" style="font-size: 10rem;"></span>
        <% end %>
      </div>
      <div class="panel-footer">
        <div class="text-center">
          <%= t('divisions').upcase %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-body">
        <%= link_to students_path  do %>
        <span class="fa fa-graduation-cap centered-image" style="font-size: 10rem;"></span>
        <% end %>
      </div>
      <div class="panel-footer">
        <div class="text-center">
          <%= link_to t('students').upcase, students_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-body">
        <%= link_to homeworks_path do %>
          <span class="fa fa-pencil centered-image" style="font-size: 10rem;"></span>
        <% end %>
      </div>
      <div class="panel-footer">
        <div class="text-center">
          Homework
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-body">
        <%= link_to attendances_path do %>
          <span class="fa fa-check centered-image" style="font-size: 10rem;"></span>
        <% end %>
      </div>
      <div class="panel-footer">
        <div class="text-center">
          Attendance
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-body">
        <%= link_to time_tables_path do %>
          <span class="fa fa-calendar centered-image" style="font-size: 10rem;"></span>
        <% end %>
      </div>
      <div class="panel-footer">
        <div class="text-center">
          Timetable
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-body">
        <%= link_to notifications_path do %>
          <span class="fa fa-envelope centered-image" style="font-size: 10rem;"></span>
        <% end %>
      </div>
      <div class="panel-footer">
        <div class="text-center">
          Messages
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-body">
        <%= link_to posts_path do %>
          <span class="fa fa-clipboard centered-image" style="font-size: 10rem;"></span>
        <% end %>
      </div>
      <div class="panel-footer">
        <div class="text-center">
          News / Events
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-body">
        <%= link_to fee_payment_path do %>
          <span class="fa fa-money centered-image" style="font-size: 10rem;"></span>
        <% end %>
      </div>
      <div class="panel-footer">
        <div class="text-center">
          Quick Payment
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-body">
        <%= link_to new_student_path do %>
          <span class="fa fa-user-plus centered-image" style="font-size: 10rem;"></span>
        <% end %>
      </div>
      <div class="panel-footer">
        <div class="text-center">
          New Student Admission
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-body">
        <%= link_to new_student_path(is_enquiry: true) do %>
          <span class="fa fa-user-plus centered-image" style="font-size: 10rem;"></span>
        <% end %>
      </div>
      <div class="panel-footer">
        <div class="text-center">
          New student Enquiry
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-body">
        <%= link_to my_templates_path do %>
          <span class="fa fa-tags centered-image" style="font-size: 10rem;"></span>
        <% end %>
      </div>
      <div class="panel-footer">
        <div class="text-center">
          Templates
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#calendar-tab" aria-controls="fee_details" role="tab" data-toggle="tab">
        <i class="fa fa-calendar"></i>
        Schedules
      </a>
    </li>
    <li role="presentation" >
      <a href="#daily_attendance" aria-controls="personal_info" role="tab" data-toggle="tab">
        <i class="fa fa-bars"></i>
        Activity
      </a>
    </li>
    <li role="presentation">
      <a href="#fee_collection_tab" aria-controls="fee_details" role="tab" data-toggle="tab">
        <i class="fa fa-money"></i>
        Fee Collection
      </a>
    </li>
    <li role="presentation">
      <a href="#daily_expenses" aria-controls="daily_expenses" role="tab" data-toggle="tab">
        <i class="fa fa-list-alt"></i>
        Daily Expenses
      </a>
    </li>
  </ul>

  <div class="row">
    <div class="col-lg-8 col-md-8">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="calendar-tab">

          <div class="">
            <div class="x_panel">
              <div class="x_title">
                <h2><i class="fa fa-calendar"></i> Events <small>Calendar</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class='calendar' id='calendar'></div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="daily_attendance">

          <div class="">
            <div class="x_panel">
              <div class="x_title">
                <h2><i class="fa fa-check"></i> Daily Attendance <small>Standard(Course/Batch) Wise</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <%= column_chart high_chart, stacked: true %>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="fee_collection_tab">

          <div class="">
            <div class="x_panel">
              <div class="x_title">
                <h2><i class="fa fa-money"></i> Fee Collection Summary <small>Date wise</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <% if !high_chart_fee.nil? %>
                    <%= line_chart high_chart_fee %>
                <% else %>
                    No data found for this month
                <% end %>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

        <div role="tabpanel" class="tab-pane" id="daily_expenses">

          <div class="">
            <div class="x_panel">
              <div class="x_title">
                <h2><i class="fa fa-list-alt"></i> Expenses
                  <small>Recent 10 activities</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <%= bar_chart OfficeExpense.all.order("date DESC").limit(10).group(:date).sum(:amount), library: {hAxis: {title: "X-label"}, vAxis: {title: "Y-label"}, title: "Graph title label"} %>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4">
      <div class="tab-content">

        <div class="">
          <div class="x_panel">
            <div class="x_title">
              <h3><i class="fa fa-birthday-cake"></i> Today's Birthday</h3>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <ul class="list-unstyled msg_list">
                <% if !birthday_today_students.blank? %>
                    <% birthday_today_students.each do |birth_stud| %>
                        <li class="">
                          <span>
                            <%= link_to new_notification_path(student_id: birth_stud.id, notification_type: 'student_wise', message_type: 'birthday_wish'), remote: true  do %>
                              <span class="image">
                                <img src="<%= birth_stud.profile_photo.blank? ? image_path('student-default.png') : birth_stud.profile_photo %>" alt="img" width="50" height="50"/>
                              </span>
                             <span><%= birth_stud.first_name %> <%= birth_stud.last_name %></span>
                             <span class='time'> <%= birth_stud.current_age %> Years Old</span>
                            <% end %>
                          </span>
                        </li>
                    <% end %>
                <% else %>
                    <li class="">nobuddy</li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="tab-content">

        <div class="row">
          <div class="x_panel">
            <div class="x_title">
              <h2><i class="fa fa-news"></i> Posts / News</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                  <%= link_to "<i class='fa fa-plus'></i>".html_safe,
                              new_post_path %>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content" style="max-height: 40rem; overflow-y: auto;">
              <ul class="list-unstyled msg_list">
                <% if !@posts.nil? %>
                  <% @posts.each do |post| %>
                    <li class="">
                      <span>
                        <%= link_to post_path(post) do %>
                          <span class="image">
                            <% if post.post_attachments.count > 0 %>
                              <img src="<%= post.post_attachments.first.attachment_path %>" alt="img" width="50" height="50"/>
                            <% end %>
                          </span>
                          <span class='time'><%= post.created_at_local %></span>
                          <span><br></span>
                         <span class="title"><%= truncate post.title, length: 15 %></span>
                          <span class="message">
                            <%= truncate(post.description, :length => 30) %>
                          </span>
                        <% end %>
                      </span>
                    </li>
                  <% end %>
                <% else %>
                  <li class="">Nothing</li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-md-8"></div>
  <div class="col-lg-4 col-md-4">
    <div class="row">
      <div class="x_panel">
        <div class="x_title">
          <h2><i class="fa fa-list-alt"></i> Expenses
            <small>Recent</small>
          </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <%= link_to "<i class='fa fa-share-square-o'></i>".html_safe, office_expenses_path %>
            </li>
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content" style="max-height: 40rem; overflow-y: auto;">
          <ul class="list-unstyled msg_list">
            <% if !@office_expenses.nil? %>
              <% @office_expenses.each do |expense| %>
                <li class="">
                  <span>
                    <%= link_to office_expense_path(expense) do %>
                      <span class='time'> <%= expense.date %></span>
                      <span><br/></span>
                      <span class="title"><%= expense.particular %></span>
                      <span>Amount: Rs. <strong><%= expense.amount %> /-</strong></span>
                      <span class="message">
                        <%= truncate(expense.description, :length => 30) %>
                      </span>
                    <% end %>
                  </span>
                </li>
              <% end %>
            <% else %>
              <li class="">Nothing</li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
