<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="col-lg-4 col-md-4">
          <span class="fa fa-graduation-cap " style="font-size: 50px;"></span>
        </div>
        <div class="col-lg-8 col-md-8">
          <span style="font-size: 35px;"><%= @students.count %></span>
        </div>
      </div>
      <div class="panel-footer">
        <div class="text-center">
          <%= t('students').upcase %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-danger">
      <div class="panel-body">
        <div class="col-lg-4 col-md-4">
          <span class="fa fa-user-circle " style="font-size: 50px;"></span>
        </div>
        <div class="col-lg-8 col-md-8">
          <span style="font-size: 35px;"><%= @teachers.count %></span>
        </div>
      </div>
      <div class="panel-footer">
        <div class="text-center">
          <%= t('teachers').upcase %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-info">
      <div class="panel-body">
        <div class="col-lg-4 col-md-4">
          <span class="fa fa-book " style="font-size: 50px;"></span>
        </div>
        <div class="col-lg-8 col-md-8">
          <span style="font-size: 35px;"><%= @standards.count %></span>
        </div>
      </div>
      <div class="panel-footer">
        <div class="text-center">
          <%= t('standards').upcase %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-4 col-md-4">
          <span class="fa fa-money" style="font-size: 50px;"></span>
        </div>
        <div class="col-lg-8 col-md-8">
            <span style="font-size: 25px;">
              <%
                amount = 0.0
                @student_fee.each do |f|
                  amount += f.amount.to_f
                end
              %>
              &#8377; <%= amount %>
            </span>
        </div>
      </div>
      <div class="panel-footer">
        <div class="text-center">
          <%= t('fee_collected').upcase %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#calendar-tab" aria-controls="fee_details" role="tab" data-toggle="tab">
        <i class="fa fa-calendar"></i>
        Schedules
      </a>
    </li>
    <li role="presentation" >
      <a href="#daily_attendance" aria-controls="personal_info" role="tab" data-toggle="tab">
        <i class="fa fa-bars"></i>
        Activity
      </a>
    </li>
    <li role="presentation">
      <a href="#fee_collection_tab" aria-controls="fee_details" role="tab" data-toggle="tab">
        <i class="fa fa-money"></i>
        Fee Collection
      </a>
    </li>
  </ul>

  <div class="row">
    <div class="col-lg-8 col-md-8">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="calendar-tab">

          <div class="">
            <div class="x_panel">
              <div class="x_title">
                <h2><i class="fa fa-calendar"></i> Events <small>Calendar</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class='calendar' id='calendar'></div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="daily_attendance">

          <div class="">
            <div class="x_panel">
              <div class="x_title">
                <h2><i class="fa fa-check"></i> Daily Attendance <small>Subject wise</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <%= column_chart high_chart, stacked: true %>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="fee_collection_tab">

          <div class="">
            <div class="x_panel">
              <div class="x_title">
                <h2><i class="fa fa-money"></i> Fee Collection Summary <small>Date wise</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <% if !high_chart_fee.nil? %>
                    <%= line_chart high_chart_fee %>
                <% else %>
                    No data found for this month
                <% end %>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
    </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4">
      <div class="tab-content">

        <div class="">
          <div class="x_panel">
            <div class="x_title">
              <h2><i class="fa fa-birthday-cake"></i> Today's Birthday</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <ul class="list-unstyled msg_list">
                <% if !birthday_today_students.blank? %>
                    <% birthday_today_students.each do |birth_stud| %>
                        <li class="">
                          <a href="<%= student_path(birth_stud) %>">
                            <span class="image">
                              <img src="<%= birth_stud.profile_photo %>" alt="img" />
                            </span>
                            <span>
                              <span><%= birth_stud.self_full_name %></span>
                              <span class="time"><%= birth_stud.current_age %> Years Old</span>
                            </span>
                          </a>
                        </li>
                    <% end %>
                <% else %>
                    <li class="">nobuddy</li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
