<%- model_class = MyTemplate -%>
<div class="panel panel-success">
  <div class="panel-heading">
    Some Codes used for Dynamic data in templates
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-4 col-md-4 well">
        <h5>Institute Details</h5>
        <strong>#{institute_name} </strong>- for name of the institute <br/>
        <strong>#{institute_logo} </strong>- for Logo of the institute <br/>
        <strong>#{institute_address} </strong>- for address of the institute <br/>
        <strong>#{institute_contact} </strong>- for contact of the institute <br/>
        <strong>#{institute_gst_no} </strong>- for GST No. of the institute <br/>
        <strong>#{institute_registration_no} </strong>- for Registration number of the institute
      </div>
      <div class="col-lg-4 col-md-4 well">
        <h5>Student Details</h5>
        <strong>#{student_name} </strong>- for name of the Student <br/>
        <strong>#{student_contact} </strong>- for contact of the student <br/>
        <strong>#{student_standard} </strong>- for standard of the student <br/>
        <strong>#{student_division} </strong>- for division of the student <br/>
      </div>
      <div class="col-lg-4 col-md-4 well">
        <h5>Fee Details</h5>
        <strong>#{amount} </strong>- for amount in numbers <br/>
        <strong>#{payment_mode} </strong>- for Mode of the payment <br/>
        <strong>#{payment_date} </strong>- for Date of the Payment <br/>
        <strong>#{amount_in_words} </strong>- for Amount in Words <br/>
        <strong>#{balance_amount} </strong>- for Balance Amount <br/>
        <strong>#{receipt_no} </strong>- for Receipt No. <br/>
        <strong>#{receipt_date} </strong>- for the Date of receipt <br/>
        <strong>#{fee_details} </strong>- For the table of fee details <br/>
        <strong>#{fee_summary} </strong>- for the summary of fee, includes balance fee, fine, discount, paid etc.
      </div>
    </div>
    <div class="row">
      <div class="well well-sm">
        <h5>Others</h5>
        <strong>#{date}</strong> - For current(Today's) date
      </div>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @my_templates.each do |my_template| %>
      <tr>
        <td><%= link_to my_template.id, my_template_path(my_template) %></td>
        <td><%= my_template.name %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      my_template_path(my_template), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_my_template_path(my_template), :class => 'btn btn-default btn-xs', remote: true %>
          <% link_to t('.destroy', :default => t("helpers.links.destroy")),
                      my_template_path(my_template),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% link_to t('.new', :default => t("helpers.links.new")),
            new_my_template_path,
            :class => 'btn btn-primary', remote: true %>
