<% if current_user.has_role?(:admin) %>
<div class="row">
  <div class="col-lg-4 col-md-4">
  </div>
  <div class="col-lg-4 col-md-4">
    <div class="card">
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th>Email</th>
            <th>Role</th>
            <th>Approved Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
              <tr>
                <td><%= user.email %>
                <td>
                  <% for role in User::ROLES %>
                      <%= role.to_s.humanize if user.roles.include?(role) %>
                  <% end %>
                </td>
                <td><span class="label label-<%= user.approved? ? 'primary' : 'danger' %> label-xs"><%= user.approved? ? 'Approved' : 'Pending' %></span></td>
                <td><%= link_to "Edit", edit_profile_path(user), class: 'btn btn-info btn-xs' %>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-4 col-md-4">

  </div>
</div>
<% end %>