<%= form_for @time_table, :html => { :class => "form-horizontal time_table" } do |f| %>

  <% if @time_table.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@time_table.errors.count, "error") %> prohibited this time_table from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @time_table.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :standard_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <input type="text" value="<%= Standard.find(params[:standard_id]).name %>" class="form-control" readonly />
    </div>
    <%= f.hidden_field :standard_id, value: params[:standard_id] %>
    <%=f.error_span(:standard_id) %>
  </div>
  <div class="form-group">
    <%= f.label :division, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :division, :class => 'form-control', value: params[:division], readonly: true %>
    </div>
    <%=f.error_span(:division) %>
  </div>
  <div class="form-group">
    <%= f.label :day, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:day, options_for_select([['Day'],['Monday','Monday'],['Tuesday','Tuesday'],
                                             ['Wednesday','Wednesday'],['Thursday','Thursday'],
                                             ['Friday','Friday'],['Saturday','Saturday'],
                                             ['Sunday', 'Sunday']], :disabled => 'Day',
                                            :selected=> params[:day]),
                   {}, class: 'form-control', readonly: true) %>
    </div>
    <%=f.error_span(:day) %>
  </div>
  <div class="form-group">
    <%= f.label :start_time, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :start_time, :class => 'form-control', autocomplete: 'off', required: true, readonly: true, value: params[:start_time] %>
    </div>
    <%=f.error_span(:start_time) %>
  </div>
  <div class="form-group">
    <%= f.label :end_time, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
     <%= f.text_field :end_time, :class => 'form-control', autocomplete: 'off', required: true, readonly: true, value: params[:end_time] %>
    </div>
    <%=f.error_span(:end_time) %>
  </div>
  <div class="form-group">
    <%= f.label :teacher_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:teacher_id, options_for_select(@teachers.map {|teacher| [teacher.name, teacher.id]},
                                            :selected=> @time_table.teacher_id),
                   {}, class: 'form-control') %>
    </div>
    <%=f.error_span(:teacher_id) %>
  </div>
  <div class="form-group">
    <%= f.label :subject, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:subject, options_for_select(@subjects.map {|subject| [subject.name, subject.name]},
                                            :selected=> @time_table.subject),
                   {}, class: 'form-control') %>
    </div>
    <%=f.error_span(:subject) %>
  </div>
  
  <div class="form-group">
    <%= f.label :color, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:color, options_for_select([['Color'],['RED','RED'],['BLUE','BLUE'],
                                             ['Tomato','Tomato'],['GREEN','GREEN'],
                                             ['DARKRED', 'DARKRED'], ['ORANGERED', 'ORANGERED'],
                                             ['REBECCAPURPLE', 'REBECCAPURPLE'],['INDIGO', 'INDIGO'],
                                             ['CADETBLUE', 'CADETBLUE'], ['MIDNIGHTBLUE', 'MIDNIGHTBLUE'],
                                             ['GRAY','GRAY']], :disabled => 'Color',
                                            :selected=> @time_table.color),
                   {}, class: 'form-control') %>
    </div>
    <%=f.error_span(:day) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  $(function () {
    $('select#time_table_teacher_id').on('click', function () {
        get_subjects();
    });

    var get_subjects = function () {
        var teacher_id = $('select#time_table_teacher_id').val();

        console.log('clicked event');

        $.ajax({
            url: '<%= get_subjects_url %>',
            data: 'teacher_id='+ teacher_id,
            type: 'GET'
        });
    }
  });
</script>

<script type="text/javascript">
    $(function () {
        $('#start_time').datetimepicker({
            format: 'LT',
            stepping: 15
        });
        
        $('#end_time').datetimepicker({
            format: 'LT',
            stepping: 15
        });
        
        
    });
</script>
