<%- model_class = TimeTable -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:standard_id) %></th>
      <th><%= model_class.human_attribute_name(:division) %></th>
      <th><%= model_class.human_attribute_name(:day) %></th>
      <th><%= model_class.human_attribute_name(:start_time) %></th>
      <th><%= model_class.human_attribute_name(:end_time) %></th>
      <th><%= model_class.human_attribute_name(:teacher_id) %></th>
      <th><%= model_class.human_attribute_name(:subject) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @time_tables.each do |time_table| %>
      <tr>
        <td><%= link_to time_table.id, time_table_path(time_table) %></td>
        <td><%= time_table.standard_id %></td>
        <td><%= time_table.division %></td>
        <td><%= time_table.day %></td>
        <td><%= time_table.start_time %></td>
        <td><%= time_table.end_time %></td>
        <td><%= time_table.teacher_id %></td>
        <td><%= time_table.subject %></td>
        <td><%=l time_table.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      time_table_path(time_table), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_time_table_path(time_table), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      time_table_path(time_table),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_time_table_path,
            :class => 'btn btn-primary' %>
