<div class="modal fade" tabindex="-1" role="dialog" id="new_category">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Leaving Certificate</h4>
      </div>
      <div class="modal-body">
        <%= form_for @student, :html => { :class => "form-horizontal caste" } do |f| %>

            <% if @student.errors.any? %>
                <div id="error_expl" class="panel panel-danger">
                  <div class="panel-heading">
                    <h3 class="panel-title"><%= pluralize(@student.errors.count, "error") %> prohibited this caste from being saved:</h3>
                  </div>
                  <div class="panel-body">
                    <ul>
                      <% @student.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
            <% end %>

            <div class="form-group">
              <%= f.label :leaving_certificate, :class => 'control-label col-lg-2' %>
              <div class="col-lg-10">
                <%= f.file_field :leaving_certificate, :class => 'form-control' %>
              </div>
              <%=f.error_span(:leaving_certificate) %>
            </div>

            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <%= f.submit nil, :class => 'btn btn-primary' %>
              </div>
            </div>

        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->