<%= form_for @student, :html => { :class => "form-horizontal student" } do |f| %>

  <% if @student.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">Personal Information</div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label 'Select sibling if any', :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.select :siblings, options_for_select(Student.where(is_enquiry: false).map {|student| [student.self_full_name, student.id]}),
                       {include_blank: 'Siblings', disabled: 'Siblings'}, class: 'selectpicker ', 'data-live-search': true %>
        </div>
      </div>

      <%= f.hidden_field :is_enquiry, value: (params[:is_enquiry].blank? ? false : params[:is_enquiry]) %>

      <div class="form-group required">
        <%= f.label :full_name, :class => 'control-label required col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :first_name, :class => 'form-control',
                           placeholder: 'First Name' %>
        </div>
        <%=f.error_span(:first_name) %>

        <div class="col-lg-3">
          <%= f.text_field :middle_name, :class => 'form-control', placeholder: 'Middle Name' %>
        </div>
        <%=f.error_span(:middle_name) %>

        <div class="col-lg-3">
          <%= f.text_field :last_name, :class => 'form-control', placeholder: 'Last Name' %>
        </div>
        <%=f.error_span(:last_name) %>
      </div>


      <div class="form-group required">
        <%= f.label :date_of_birth, :class => 'control-label required col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :date_of_birth, :class => 'form-control datepicker', placeholder: 'Date of Birth'  %>
        </div>
        <%=f.error_span(:date_of_birth) %>

        <%= f.label :birth_place, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :birth_place, :class => 'form-control', placeholder: 'Place of birth' %>
        </div>
        <%=f.error_span(:birth_place) %>
      </div>

      <div class="form-group">
        <%= f.label :gender, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.select(:gender, options_for_select([['Gender'],['Male','Male'],['Female','Female'],
                                                    ['Other','Other']], :disabled => 'Gender', :selected=> @student.gender),
                       {}, class: 'form-control') %>
        </div>
        <%=f.error_span(:gender) %>

        <%= f.label :blood_group, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.select(:blood_group, options_for_select([['Blood Group'], ['A+','A+'], ['A-','A-'], ['B+','B+'],
                                                         ['B-','B-'], ['AB+','AB+'], ['AB-','AB-'], ['O+','O+'],
                                                         ['O-','O-']], :disabled => 'Blood Group', :selected=> @student.blood_group),
                       {}, class: 'form-control') %>
        </div>
        <%=f.error_span(:blood_group) %>
      </div>


      <div class="form-group">
        <%= f.label :nationality, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.country_select :nationality, {priority_countries: ["IN", "US", "PK"]}, {:class => 'form-control'} %>
        </div>
        <%=f.error_span(:nationality) %>

        <%= f.label :student_adhar, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :student_adhar, :class => 'form-control', placeholder: 'Student ADHAR' %>
        </div>
        <%=f.error_span(:student_adhar) %>
      </div>


      <div class="form-group">
        <%= f.label :mother_tongue, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :mother_tongue, :class => 'form-control' %>
        </div>
        <%=f.error_span(:mother_tongue) %>

        <%= f.label :category_id, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.select(:caste_category_id, options_for_select(CasteCategory.all.map {|category| [category.category, category.id]},
                                                              {:selected => @student.caste_category_id }),
                       {}, class: 'form-control') %>
        </div>
        <%=f.error_span(:caste_category_id) %>
      </div>


      <div class="form-group">
        <%= f.label :caste_id, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.select(:caste_id, options_for_select(Caste.all.map {|caste| [caste.name, caste.id]},
                                                     {:selected => @student.caste }),
                       {}, class: 'form-control') %>
        </div>
        <%=f.error_span(:caste_id) %>

        <%= f.label :religion_id, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.select(:religion_id, options_for_select(Religion.all.map {|religion| [religion.name, religion.id]},
                                                        {:selected => @student.academic_year_id }),
                       {}, class: 'form-control') %>
        </div>
        <%= f.error_span(:religion_id) %>
      </div>

      <div class="form-group">
        <%= f.label :profile_photo, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.file_field :profile_photo, class: 'form-control', value: @student.profile_photo %>
        </div>
        <%= f.error_span(:profile_photo) %>
      </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Contact Details</div>
    <div class="panel-body">
      <div class="form-group required">
        <%= f.label :residential_address, :class => 'control-label required col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :residential_address_one, :class => 'form-control', placeholder: 'Address Line 1' %>
        </div>
        <%=f.error_span(:residential_address_one) %>

        <div class="col-lg-2"></div>
        <div class="col-lg-4">
          <%= f.text_field :residential_address_two, :class => 'form-control', placeholder: 'Address Line 2' %>
        </div>
        <%=f.error_span(:residential_address_two) %>
      </div>


      <div class="form-group required">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
          <%= f.text_field :residential_city, :class => 'form-control', placeholder: 'City' %>
        </div>
        <%=f.error_span(:residential_city) %>

        <div class="col-lg-2"></div>

        <div class="col-lg-4">
          <%= f.text_field :residential_state, :class => 'form-control', placeholder: 'State' %>
        </div>
        <%=f.error_span(:residential_state) %>
      </div>


      <div class="form-group required">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
          <%= f.text_field :residential_pincode, :class => 'form-control', placeholder: 'Pincode' %>
        </div>
        <%=f.error_span(:residential_pincode) %>
      </div>

      <div class="form-group">
        <div class="col-lg-2"></div>
        <div class="col-lg-5">
          <div class="checkbox checkbox-primary">
            <input type="checkbox" id="same_as_residential">
            <label for="same_as_residential">Same As Residential</label>
          </div>
        </div>
      </div>
      <div class="form-group required">
        <%= f.label :permanent_address, :class => 'control-label required col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :permanent_address_one, :class => 'form-control', placeholder: 'Address Line 1' %>
        </div>
        <%=f.error_span(:permanent_address_one) %>
        <div class="col-lg-2"></div>

        <div class="col-lg-4">
          <%= f.text_field :permanent_address_two, :class => 'form-control', placeholder: 'Address Line 2' %>
        </div>
        <%=f.error_span(:permanent_address_two) %>
      </div>


      <div class="form-group required">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
          <%= f.text_field :permanent_city, :class => 'form-control', placeholder: 'City' %>
        </div>
        <%=f.error_span(:permanent_city) %>
        <div class="col-lg-2"></div>

        <div class="col-lg-4">
          <%= f.text_field :permanent_state, :class => 'form-control', placeholder: 'State' %>
        </div>
        <%=f.error_span(:permanent_state) %>
      </div>


      <div class="form-group required">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
          <%= f.text_field :permanent_pincode, :class => 'form-control', placeholder: 'Pincode' %>
        </div>
        <%=f.error_span(:permanent_pincode) %>
      </div>

      <div class="form-group required">
        <%= f.label :student_mobile, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :student_mobile, :class => 'form-control' %>
          <div class="text-muted">WhatsApp number preferred.</div>
        </div>
        <%=f.error_span(:student_mobile) %>

        <%= f.label :student_email, :class => 'control-label required col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :student_email, :class => 'form-control' %>
        </div>
        <%=f.error_span(:student_email) %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Parent Details</div>
    <div class="panel-body">
      <div class="form-group required">
        <%= f.label 'Father`s full name', :class => 'control-label required col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :father_first_name, :class => 'form-control', placeholder: 'First Name' %>
        </div>
        <%=f.error_span(:father_first_name) %>

        <div class="col-lg-3">
          <%= f.text_field :father_middle_name, :class => 'form-control', placeholder: 'Middle Name' %>
        </div>
        <%=f.error_span(:father_middle_name) %>

        <div class="col-lg-3">
          <%= f.text_field :father_last_name, :class => 'form-control', placeholder: 'Last Name' %>
        </div>
        <%=f.error_span(:father_last_name) %>
      </div>


      <div class="form-group required">
        <%= f.label 'Mother`s full name', :class => 'control-label required col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :mother_first_name, :class => 'form-control', placeholder: 'First Name' %>
        </div>
        <%=f.error_span(:mother_first_name) %>

        <div class="col-lg-3">
          <%= f.text_field :mother_middle_name, :class => 'form-control', placeholder: 'Middle Name' %>
        </div>
        <%=f.error_span(:mother_middle_name) %>

        <div class="col-lg-3">
          <%= f.text_field :mother_last_name, :class => 'form-control', placeholder: 'Last Name' %>
        </div>
        <%=f.error_span(:mother_last_name) %>
      </div>
      <div class="form-group required">
        <%= f.label :father_mobile, :class => 'control-label required col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :father_mobile, :class => 'form-control' %>
          <div class="text-muted">WhatsApp number preferred.</div>
        </div>
        <%=f.error_span(:father_mobile) %>

        <%= f.label :mother_mobile, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :mother_mobile, :class => 'form-control' %>
          <div class="text-muted">WhatsApp number preferred.</div>
        </div>
        <%=f.error_span(:mother_mobile) %>
      </div>

      <div class="form-group">
        <%= f.label :father_occupation, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :father_occupation, :class => 'form-control' %>
        </div>
        <%=f.error_span(:father_occupation) %>

        <%= f.label :mother_occupation, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :mother_occupation, :class => 'form-control' %>
        </div>
        <%=f.error_span(:mother_occupation) %>
      </div>

      <div class="form-group">
        <%= f.label :father_email, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :father_email, :class => 'form-control' %>
        </div>
        <%=f.error_span(:father_email) %>

        <%= f.label :father_adhar, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :father_adhar, :class => 'form-control', placeholder: 'Father ADHAR' %>
        </div>
        <%=f.error_span(:father_adhar) %>
      </div>
      <div class="form-group">
        <%= f.label :mother_email, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :mother_email, :class => 'form-control' %>
        </div>
        <%=f.error_span(:mother_email) %>

        <%= f.label :mother_adhar, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :mother_adhar, :class => 'form-control', placeholder: 'Mother ADHAR' %>
        </div>
        <%=f.error_span(:mother_adhar) %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Office use</div>
    <div class="panel-body">
      <div class="form-group required">
        <%= f.label :standard_id, :class => 'control-label required col-lg-2' %>
        <div class="col-lg-4">
          <%= f.select(:standard_ids, options_for_select(Standard.all.map {|standard| [standard.name, standard.id]},
                                                        {:selected => (@student.standards.last.id unless @student.standards.last.nil?)}),
                       {}, class: 'form-control', required: true) %>
        </div>
        <%=f.error_span(:standard_id) %>

        <%= f.label :division_id, :class => 'control-label required col-lg-2' %>
        <div class="col-lg-4">
          <%= f.select(:division_ids, options_for_select(['Select'],
                                                        {:selected => (@student.divisions.last.id if @student.divisions.nil?) }),
                       {}, class: 'form-control', id: 'division', required: true) %>
        </div>
        <%=f.error_span(:division_id) %>
      </div>

      <div class="form-group required">
        <%= f.label :roll_no, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :roll_no, :class => 'form-control', placeholder: 'Roll No.' %>
        </div>
        <%=f.error_span(:roll_no) %>
      </div>


      <div class="form-group required">
        <%= f.label :academic_year_ids, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.select(:academic_year_ids, options_for_select(AcademicYear.all.where(is_active: true).map {|academicYear| [academicYear.academic_year, academicYear.id]},
                                                             {:selected => (@student.academic_years.where(is_active: true).first.id if @student.academic_years.nil?) }),
                       {}, class: 'form-control') %>
        </div>
        <%=f.error_span(:academic_year_ids) %>

        <%= f.label :joining_date, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :joining_date, :class => 'form-control datepicker', placeholder: 'Joining Date'  %>
        </div>
        <%=f.error_span(:joining_date) %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Previous Details</div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :last_school_attended, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :last_school_attended, :class => 'form-control' %>
        </div>
        <%=f.error_span(:last_school_attended) %>

        <%= f.label :prev_standard, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :prev_standard, :class => 'form-control' %>
        </div>
        <%=f.error_span(:prev_standard) %>
      </div>
      <div class="form-group">
        <%= f.label :prev_year, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :prev_year, :class => 'form-control' %>
        </div>
        <%=f.error_span(:prev_year) %>

        <%= f.label :prev_marks, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :prev_marks, :class => 'form-control' %>
        </div>
        <%=f.error_span(:prev_marks) %>
      </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Other Details</div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :medical_history, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_area :medical_history, :class => 'form-control' %>
        </div>
        <%=f.error_span(:medical_history) %>

        <%= f.label :siblings_schooling_details, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_area :siblings_schooling_details, :class => 'form-control' %>
        </div>
        <%=f.error_span(:siblings_schooling_details) %>

      </div>
      <div class="form-group">
        <%= f.label :skill_of_child, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :skill_of_child, :class => 'form-control' %>
        </div>
        <%=f.error_span(:skill_of_child) %>

        <%= f.label :disability_of_student, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :disability_of_student, :class => 'form-control' %>
        </div>
        <%=f.error_span(:disability_of_student) %>
      </div>

      <div class="form-group">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
          <div class="checkbox checkbox-success">
            <input type="checkbox" name="student[is_transportation_required]" id="student_is_transportation_required" <%= @student.is_transportation_required ? 'checked' : '' %> >
            <label for="student_is_transportation_required">Is transportation required?</label>
          </div>
        </div>
        <%=f.error_span(:is_transportation_required) %>

        <%= f.label :transport_pickup_point, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :transport_pickup_point, :class => 'form-control' %>
        </div>
        <%=f.error_span(:transport_pickup_point) %>
      </div>

    </div>
  </div>

    <div id="student_fees">

    </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                students_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
    $(function () {
        $('#student_date_of_birth').datetimepicker({
            format: 'DD-MM-YYYY'
        });

        $('#student_joining_date').datetimepicker({
            format: 'DD-MM-YYYY'
        });

    });
</script>

<script type="text/javascript">
    $(function () {

        $("#student_is_transportation_required").change(function () {
            if(this.checked){
                $("#student_transport_pickup_point").removeAttr('disabled');
            }else{
                $("#student_transport_pickup_point").attr('disabled', true);
            }
        });
        $(document).ready(function () {
          get_divisions();
          get_fee_structure();

            if($("#student_is_transportation_required").checked){
                $("#student_transport_pickup_point").removeAttr('disabled');
            }else{
                $("#student_transport_pickup_point").attr('disabled', true);
            }
        });

        $('select#student_standard_ids').on('click', function () {
            get_divisions();
            get_fee_structure();
        });

        $("select#student_siblings").on('change', function () {
          get_sibling_info();
        });


        var get_divisions = function () {
            var standard_id = $('select#student_standard_ids').val();

            if(standard_id) {
                $.ajax({
                    url: '<%= get_divisions_students_url %>',
                    data: 'standard_id=' + standard_id + '&id=<%= @student.id %>',
                    type: 'GET'
                });
            }
        };

        var get_fee_structure = function () {
            var standard_id = $('select#student_standard_ids').val();

            if(standard_id) {
                $.ajax({
                    url: '<%= get_fee_structures_url %>',
                    data: 'standard_id=' + standard_id + '&id=<%= @student.id %>',
                    type: 'GET'
                });
            }
        };

        var get_sibling_info = function () {
            var sibling_id = $('select#student_siblings').val();

            console.log('Sibling id: '+ sibling_id);

            $.ajax({
                url: '<%= get_sibling_info_url %>',
                data: 'sibling_id='+ sibling_id,
                type: 'GET'
            });
        };

        $('#btn-spinner').on('click', function(){
            on();
        });
    });
</script>