<%= form_for @student_mark, :html => { :class => "form-horizontal student_mark" } do |f| %>

  <% if @student_mark.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@student_mark.errors.count, "error") %> prohibited this student_mark from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @student_mark.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :student_id, value: !@student_mark.nil? ? params[:student_id] : @student_mark.student_id %>
  <%= f.hidden_field :exam_id, value: !@student_mark.nil? ? params[:exam_id] : @student_mark.exam_id %>
  <%= f.hidden_field :subject_id, value: !@student_mark.nil? ? params[:subject_id] : @student_mark.subject_id %>
  <%= f.hidden_field :exam_subject_id, value: !@student_mark.nil? ? params[:exam_subject_id] : @student_mark.exam_subject_id %>

  <div class="form-group">
    <%= f.label :marks, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :marks, :class => 'form-control' %>
    </div>
    <%=f.error_span(:marks) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Save', :class => 'btn btn-primary' %>
    </div>
  </div>

<% end %>
