<%= form_for @notification, :html => { :class => "form-horizontal notification" } do |f| %>

  <% if @notification.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @notification.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :message, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :message, :class => 'form-control' %>
    </div>
    <%=f.error_span(:message) %>
  </div>
  <div class="form-group">
    <%= f.label :from, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :from, :class => 'form-control' %>
    </div>
    <%=f.error_span(:from) %>
  </div>

  <div class="form-group">
    <div class="col-lg-2"></div>
    <div class="col-lg-5">
      <div class="checkbox checkbox-danger">
        <%= f.check_box :by_sms %>
        <%= f.label 'SMS', for: 'notification_by_sms' %>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="checkbox checkbox-danger">
        <%= f.check_box :by_mail %>
        <%= f.label :mail, for: 'notification_by_mail' %>
      </div>
    </div>
  </div>

    <!-- hidden required field-->
    <%= f.hidden_field :student_id, value: (params[:student_id] if params[:student_id]) %>
    <%= f.hidden_field :notification_type, value: (params[:notification_type] if params[:notification_type]) %>
    <%= f.hidden_field :type_data, value: (params[:type_data] if params[:type_data]) %>
    <!-- end -->
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
  </div>

<% end %>
