<%- model_class = Notification -%>
<div class="row">
  <div class="panel panel-warning">
    <div class="panel-body">
      To send new Message Select particular Standard, Division or Student, to select those Go to <strong><%= link_to 'Standards', standards_path %> -> Divisions -> Send Message</strong>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:message) %></th>
      <th><%= model_class.human_attribute_name(:from) %></th>
      <th><%= model_class.human_attribute_name(:student_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @notifications.each do |notification| %>
      <tr >
        <td><%= link_to notification.id, notification_path(notification) %></td>
        <td><%= notification.title %></td>
        <td><%= notification.message %></td>
        <td><%= notification.from %></td>
        <td><%= notification.student.self_full_name %></td>
        <td><%=l notification.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

