<div class="row">
  <div class="col-lg-6 col-md-6">
    <%= image_tag 'where-is-my-password.svg', style: 'width: 100%; height: 100%', class: 'hide-on-mobile' %>
  </div>
  <div class="col-lg-4 col-md-4">
    <div class="owl">
      <div class="hand"></div>
      <div class="hand hand-r"></div>
      <div class="arms">
        <div class="arm"></div>
        <div class="arm arm-r"></div>
      </div>
    </div>
    <div class="panel panel-default devise-bs">
      <div class="panel-heading">
        <h4><%= t('.forgot_your_password', default: 'Forgot your password?') %></h4>
      </div>
      <div class="panel-body">
        <%= bootstrap_devise_error_messages! %>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: "form" }) do |f| %>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>

            <%= f.submit t('.send_me_reset_password_instructions', default: 'Send me reset password instructions'), class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="panel-footer">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-2">

  </div>
</div>
