<%= form_for @division, :html => { :class => "form-horizontal division" } do |f| %>

  <% if @division.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@division.errors.count, "error") %> prohibited this division from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @division.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :standard_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:standard_id, options_for_select(@standards.map {|standard| [standard.name, standard.id]},
                                                         {:selected => @division.standard_id }),
                   {}, class: 'form-control') %>
    </div>
    <%=f.error_span(:standard_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                divisions_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
