<%- model_class = TotalMark -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:exam_term_id) %>:</strong></dt>
  <dd><%= @total_mark.exam_term_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam_id) %>:</strong></dt>
  <dd><%= @total_mark.exam_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:written_marks) %>:</strong></dt>
  <dd><%= @total_mark.written_marks %></dd>
  <dt><strong><%= model_class.human_attribute_name(:assessment_marks) %>:</strong></dt>
  <dd><%= @total_mark.assessment_marks %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              total_marks_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_total_mark_path(@total_mark), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              total_mark_path(@total_mark),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
