<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for @post_attachment, :html => {:class => "form-horizontal post"} do |f| %>
      <% if @post_attachment.attachment_path.nil? %>
        <div class="form-group">
          <div class="image view view-first">
            <img style="width: 100%; display: block;" src="<%= @post_attachment.attachment_path %>" alt="image"/>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.file_field :attachment_path, :class => 'form-control' %>
        <%= f.error_span(:attachment_path) %>
      </div>

      <%= f.hidden_field :post_id, value: params[:post_id] %>
      <div class="form-group">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    :back, :class => 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>
