<%= image_tag @post_attachment.attachment_path %>
<%= form_for(@post_attachment) do |f| %>
  <div class="field">
    <%= f.label :attachment_path %><br>
    <%= f.file_field :attachment_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
