<%- model_class = Teacher -%>
<div class="page-header">
  <h1>ADMINS</h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:date_of_birth) %></th>
    <th><%= model_class.human_attribute_name(:gender) %></th>
    <th><%= model_class.human_attribute_name(:blood_group) %></th>
    <th><%= model_class.human_attribute_name(:address) %></th>
    <th><%= model_class.human_attribute_name(:contact) %></th>
    <th><%= model_class.human_attribute_name(:email) %></th>

    <th><%= model_class.human_attribute_name(:subjects) %></th>
  </tr>
  </thead>
  <tbody>
  <% @teachers.each do |teacher| %>
      <tr>
        <td><a href="<%= teacher_path(teacher) %>"><%= teacher.first_name %> <%= teacher.middle_name %> <%= teacher.last_name %></a></td>
        <td><%= teacher.dob %></td>
        <td><%= teacher.gender %></td>
        <td><%= teacher.blood_group %></td>
        <td>
          <%= teacher.address_one %>, <%= teacher.address_two %><br/>
          <%= teacher.city %>, <%= teacher.state %><br/>
          <%= teacher.country %>, <%= teacher.pincode %>
        </td>
        <td><%= teacher.contact %></td>
        <td><%= teacher.email %></td>

        <td>
          <% teacher.subjects.each do |subject| %>
              <%= subject.name %><br/>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_teacher_path,
            :class => 'btn btn-primary' %>
