<%= form_for @exam_term, :html => { :class => "form-horizontal exam_term" } do |f| %>

  <% if @exam_term.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@exam_term.errors.count, "error") %> prohibited this exam_term from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @exam_term.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :term_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :term_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:term_name) %>
  </div>
  <div class="form-group">
    <%= f.label :start_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :start_date, :class => 'form-control' %>
    </div>
    <%=f.error_span(:start_date) %>
  </div>
  <div class="form-group">
    <%= f.label :end_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :end_date, :class => 'form-control' %>
    </div>
    <%=f.error_span(:end_date) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                exam_terms_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
