<%- model_class = Parent -%>
<div class="panel panel-default">
  <div class="panel-heading">
    Parents
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:mobile) %></th>
          <th>Account Email</th>
          <th>Account ID</th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @parents.each do |parent| %>
          <tr>
            <td><%= link_to parent.id, parent_path(parent) %></td>
            <td><%= parent.name %></td>
            <td><%= parent.mobile %></td>
            <td>
              <%= parent.user_account_email %>
            </td>
            <td>
              <%= parent.user_account_id %>
            </td>
            <td>
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          parent_path(parent), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_parent_path(parent), :class => 'btn btn-primary btn-xs' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
