<%- model_class = OfficeExpense -%>
<div class="well well-sm">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_office_expense_path,
              :class => 'btn btn-primary' %>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2><i class="fa fa-list-alt"></i> Expenses
        <small>Recent 10 expenses</small>
      </h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <%= bar_chart @office_expenses.order("date DESC").limit(10).group(:date).sum(:amount), library: {hAxis: {title: "X-label"}, vAxis: {title: "Y-label"}, title: "Graph title label"} %>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2><i class="fa fa-list-alt"></i> Expenses
        <small>Particular-wise</small>
      </h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <span class="pull-right"><strong>Total: &#8377; <%= @office_expenses.sum(:amount) %> /-</strong></span>
      <%= pie_chart @office_expenses.group(:particular).sum(:amount), donut: true %>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="x_panel">
  <div class="x_title">
    <h2><i class="fa fa-list-alt"></i> Expenses <small>Detailed</small></h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </li>
      <li><a class="close-link"><i class="fa fa-close"></i></a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <table class="table table-striped" id="office_expenses_total">
      <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:particular) %></th>
        <th><%= model_class.human_attribute_name(:description) %></th>
        <th><%= model_class.human_attribute_name(:amount) %></th>
        <th><%= model_class.human_attribute_name(:date) %></th>
        <th><%= t '.actions', :default => t("helpers.actions") %></th>
      </tr>
      </thead>
      <tbody>
      <% @office_expenses.order("created_at DESC").each do |office_expense| %>
        <tr>
          <td><%= office_expense.particular %></td>
          <td><%= office_expense.description %></td>
          <td><%= office_expense.amount %></td>
          <td><%= office_expense.date.strftime("%d-%m-%Y") unless office_expense.date.nil? %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_office_expense_path(office_expense), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        office_expense_path(office_expense),
                        :method => :delete,
                        :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="clearfix"></div>

<script type="text/javascript" charset="utf-8">
    $(function () {
        $('#office_expenses_total').dataTable();
    });
</script>
