<%- model_class = Standard -%>
<div class="page-header">
  <h3>
    <%=t '.title', :default => @standard.name.titleize + ' Standard' %>
  </h3>
</div>

<div class="row">
  <div class="col-lg-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to t('.back', :default => t("helpers.links.back")),
                    standards_path, :class => 'btn btn-default custom-link'  %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_standard_path(@standard), :class => 'btn btn-default custom-link' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    standard_path(@standard),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger custom-link' %>
      </div>
    </div>
  </div>
  <div class="col-lg-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="card">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#students" aria-controls="students" role="tab" data-toggle="tab"><i class="fa fa-user"></i> Students</a></li>
            <li role="presentation"><a href="#fee_structures" aria-controls="fee_structures" role="tab" data-toggle="tab"><i class="fa fa-money"></i> Fee Structures</a></li>
            <li role="presentation"><a href="#fee_payments" aria-controls="fee_payments" role="tab" data-toggle="tab"><i class="fa fa-card"></i> Fee Payments</a></li>
          </ul>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="students">
              <% @standard.divisions.each do |division| %>
                  <div class="panel panel-default" >
                    <div class="panel-heading">
                      <h5>
                        Division: <%= division.name %>
                        <strong>Total Students: <%= division.students.count %></strong>
                        <span class="pull-right">
                          <a class="btn btn-xs" data-toggle="collapse" href="#division_<%= division.name %>">
                            <i class="fa fa-chevron-down"></i>
                          </a>
                        </span>
                        <span class="pull-right">
                          <%= link_to 'Message to All',
                                      new_notification_path(notification_type: 'division_wise', type_data: division.id),
                                      :class => 'btn btn-primary btn-xs', remote: true %>
                        </span>
                      </h5>
                    </div>
                    <div class="panel-body collapse" id="division_<%= division.name %>">
                      <table class="table table-bordered table-responsive" id="admitted_students_table_<%= division.name %>">
                        <thead>
                          <tr>
                            <th>Roll no.</th>
                            <th>Name</th>
                            <th>Fee</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if division.students.blank? %>
                            <tr>
                              <td colspan="3">No Students</td>
                            </tr>
                          <% end %>
                          <% division.students.each do |student| %>
                            <tr>
                              <td><%= student.roll_no %></td>
                              <td><%= student.self_full_name %></td>
                              <td>
                                <table class="table table-bordered">
                                  <tbody>
                                    <tr>
                                      <th>Allocated Fee</th>
                                      <td><%= student.current_total_fee %></td>
                                    </tr>
                                    <tr>
                                      <th>Discount</th>
                                      <td><%= student.current_total_discount %></td>
                                    </tr>
                                    <tr>
                                      <th>Fine</th>
                                      <td><%= student.current_total_fine %></td>
                                    </tr>
                                    <tr>
                                      <th>Paid Fee</th>
                                      <td><%= student.current_total_paid %></td>
                                    </tr>
                                    <tr>
                                      <th>Balance</th>
                                      <td><%= student.current_balance_amount %></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                              <td>
                                <%= link_to 'Show', student_path(student), class: 'btn btn-success btn-xs' %>
                                <%= link_to 'Send Message',
                                            new_notification_path(student_id: student.id, notification_type: 'student_wise'),
                                            :class => 'btn btn-primary btn-xs', remote: true %>
                              </td>

                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
              <% end %>
            </div>
            <div class="tab-pane" id="fee_payments" role="tabpanel">
              <table class="table table-bordered table-responsive">
                <tbody>
                <tr>
                  <th>Total Allocated</th>
                  <td><%= @standard.total_allocated_fee %></td>
                </tr>
                <tr>
                  <th>Total Discount</th>
                  <td><%= @standard.total_discount %></td>
                </tr>

                <tr>
                  <th>Total Fine</th>
                  <td><%= @standard.total_fine %></td>
                </tr>
                <tr>
                  <th>Total Instant Fee</th>
                  <td><%= @standard.total_instant_fee %></td>
                </tr>
                <tr>
                  <th>Total Paid</th>
                  <td><%= @standard.total_paid_fee %></td>
                </tr>
                <tr>
                  <th>Total Balance Fee</th>
                  <td><%= @standard.total_balance_amount %></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane" id="fee_structures" role="tabpanel">
              <table class="table table-bordered table-responsive">
                <thead>
                  <tr>
                    <th>Fee Category</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                <% @standard.fee_categories.each do |fee_category| %>
                  <tr>
                    <td><%= fee_category.name %></td>
                    <td><%= fee_category.amount %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
      <% @standard.divisions.each do |division| %>
        <% unless division.students.blank? %>
          $("#admitted_students_table_<%= division.name %>").dataTable();
        <% end %>
      <% end %>
  });
</script>


