<p>Username: <%= @resource.username %></p> !!!!!!!!!!!
<p><%= t('.greeting', recipient: @resource.email, default: "Hello #{@resource.email}!") %></p>

<p><%= t('.instruction', default: 'Someone has requested a link to change your password, and you can do this through the link below.') %></p>

<p><%= link_to t('.action', default: 'Change my password'), edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale) %></p>

<p><%= t('.instruction_2', default: "If you didn't request this, please ignore this email.") %></p>
<p><%= t('.instruction_3', default: "Your password won't change until you access the link above and create a new one.") %></p>

<%
  response = RestClient.get "http://login.bulksmsgateway.in/sendmessage.php?user=schoolcon&password=Linker@70531&mobile=#{@resource.username}&message=open following link to change password #{edit_password_url(@resource, reset_password_token: @token)}&sender=DNYNDP&type=3"
  puts "http://login.bulksmsgateway.in/sendmessage.php?user=schoolcon&password=Linker@70531&mobile=#{@resource.username}&message=open following link to change password #{edit_password_url(@resource, reset_password_token: @token)}&sender=DNYNDP&type=3"
  case response.code
    when 400
      puts response
    when 200
      puts response
    else
      fail "Invalid response #{response} received."
  end
%>