<%- model_class = CasteCategory -%>
<div class="page-header">
  <h1>
    <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
    <span class="pull-right">
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_caste_category_path,
                  :class => 'btn btn-primary', remote: true %>
    </span>
  </h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @caste_categories.each do |caste_category| %>
      <tr>
        <td><%= caste_category.id %></td>
        <td><%= caste_category.category %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_caste_category_path(caste_category), :class => 'btn btn-default btn-xs', remote: true %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      caste_category_path(caste_category),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

