<%= form_for @exam, :html => { :class => "form-horizontal exam" } do |f| %>

  <% if @exam.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @exam.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :standard_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:standard_id, options_for_select(Standard.all.map {|standard| [standard.name, standard.id]},
                                                     {:selected => (@exam.standard.id unless @exam.standard.nil?)}),
                   {}, class: 'form-control', required: true) %>
    </div>
    <%=f.error_span(:standard_id) %>
  </div>
  <div class="form-group">
    <%= f.label :division_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:division_id, options_for_select(['Select'],
                                                     {:selected => (@exam.division.id unless @exam.division.nil?) }),
                   {}, class: 'form-control', required: true) %>
    </div>
    <%=f.error_span(:division_id) %>
  </div>
  <%= f.hidden_field :academic_year_id, value: AcademicYear.where(is_active: true).first.id %>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                exams_path, :class => 'btn btn-default' %>
    </div>
  </div>

  <script type="text/javascript" charset="utf-8">
      $(document).ready(function () {
          update_divisions_and_subjects();
      });
      $('select#exam_standard_id').on('click', function () {
          update_divisions_and_subjects();
      });
      var update_divisions_and_subjects = function () {
          var standard_id = $('select#exam_standard_id').val();

          if(standard_id) {
              $.ajax({
                  url: '<%= get_divisions_exams_url %>',
                  data: 'standard_id=' + standard_id,
                  type: 'GET'
              });
          }
      };
  </script>

<% end %>


