<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <% if params[:student_phone] %><Cell><Data ss:Type="String">Contact</Data></Cell><% end %>
        <% if params[:student_address] %><Cell><Data ss:Type="String">Address</Data></Cell><% end %>
        <Cell><Data ss:Type="String">Birth Place</Data></Cell>
        <Cell><Data ss:Type="String">Date of birth</Data></Cell>
        <Cell><Data ss:Type="String">Gender</Data></Cell>
        <Cell><Data ss:Type="String">Blood group</Data></Cell>
        <Cell><Data ss:Type="String">Nationality</Data></Cell>
        <Cell><Data ss:Type="String">Mother tongue</Data></Cell>
        <Cell><Data ss:Type="String">ADHAR</Data></Cell>
        <Cell><Data ss:Type="String">Caste</Data></Cell>
        <Cell><Data ss:Type="String">Caste Category</Data></Cell>
        <Cell><Data ss:Type="String">Religion</Data></Cell>
        <Cell><Data ss:Type="String">Mother Name</Data></Cell>
        <Cell><Data ss:Type="String">Father Occupation</Data></Cell>
        <Cell><Data ss:Type="String">Mother Occupation</Data></Cell>
        <Cell><Data ss:Type="String">Father ADHAR</Data></Cell>
        <Cell><Data ss:Type="String">Mother ADHAR</Data></Cell>
        <Cell><Data ss:Type="String">Mother Mobile</Data></Cell>
        <Cell><Data ss:Type="String">Father Email</Data></Cell>
        <Cell><Data ss:Type="String">Mother Email</Data></Cell>
        <Cell><Data ss:Type="String">Student Email</Data></Cell>

        <% if params[:student_parent_info] %>
          <Cell><Data ss:Type="String">Father Name</Data></Cell>
          <Cell><Data ss:Type="String">Father contact</Data></Cell>
          <Cell><Data ss:Type="String">Parent Address</Data></Cell>
        <% end %>
        <% if params[:student_academic_details] %>
          <Cell><Data ss:Type="String">STD / DIV</Data></Cell>
          <Cell><Data ss:Type="String">Roll No.</Data></Cell>
        <% end %>

      </Row>
      <% @students.each do |student| %>
        <Row>
          <Cell><Data ss:Type="String"><%= student.self_full_name %></Data></Cell>
          <% if params[:student_phone] %><Cell><Data ss:Type="String"><%= student.student_mobile %></Data></Cell><% end %>
          <% if params[:student_address] %><Cell><Data ss:Type="String"><%= student.residential_address_one %>,<%= student.residential_address_two %>,<%= student.residential_city %>,<%= student.residential_state %>,<%= student.residential_country %>,<%= student.residential_pincode %></Data></Cell><% end %>
          <Cell><Data ss:Type="String"><%= student.birth_place %></Data></Cell>
          <Cell><Data ss:Type="String"><%= student.date_of_birth %></Data></Cell>
          <Cell><Data ss:Type="String"><%= student.gender %></Data></Cell>
          <Cell><Data ss:Type="String"><%= student.blood_group %></Data></Cell>
          <Cell><Data ss:Type="String"><%= student.nationality %></Data></Cell>
          <Cell><Data ss:Type="String"><%= student.mother_tongue %></Data></Cell>
          <Cell><Data ss:Type="String"><%= student.student_adhar %></Data></Cell>
          <Cell><Data ss:Type="String"><%= student.caste.name %></Data></Cell>
          <Cell><Data ss:Type="String"><%= student.caste_category.category %></Data></Cell>
          <Cell><Data ss:Type="String"><%= student.religion.name %></Data></Cell>
          <Cell><Data ss:Type="String"><%= student.mother_full_name %></Data></Cell>
          <Cell><Data ss:Type="String"><%= student.father_occupation %></Data></Cell>
          <Cell><Data ss:Type="String"><%= student.mother_occupation %></Data></Cell>
          <Cell><Data ss:Type="String"><%= student.father_adhar %></Data></Cell>
          <Cell><Data ss:Type="String"><%= student.mother_adhar %></Data></Cell>
          <Cell><Data ss:Type="String"><%= student.mother_mobile %></Data></Cell>
          <Cell><Data ss:Type="String"><%= student.father_email %></Data></Cell>
          <Cell><Data ss:Type="String"><%= student.mother_email %></Data></Cell>
          <Cell><Data ss:Type="String"><%= student.student_email %></Data></Cell>
          <% if params[:student_parent_info] %>
            <Cell><Data ss:Type="String"><%= student.father_full_name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= student.father_mobile %></Data></Cell>
            <Cell><Data ss:Type="String"><%= student.permanent_address_one %>,<%= student.permanent_address_two %>,<%= student.permanent_city %>,<%= student.permanent_state %>,<%= student.permanent_country %>,<%= student.permanent_pincode %></Data></Cell>
          <% end %>
          <% if params[:student_academic_details] %>
            <Cell><Data ss:Type="String"><%= student.standards.last.name %> - <%= student.divisions.last.name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= student.roll_no %></Data></Cell>
          <% end %>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>