<%= form_for @class_teacher, :html => { :class => "form-horizontal class_teacher" } do |f| %>

  <% if @class_teacher.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@class_teacher.errors.count, "error") %> prohibited this class_teacher from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @class_teacher.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :standard_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:standard_id, options_for_select(Standard.all.map {|standard| [standard.name, standard.id]},
                                                    {:selected => @class_teacher.standard_id }),
                   {}, class: 'form-control') %>
    </div>
    <%=f.error_span(:standard_id) %>
  </div>
  <div class="form-group">
    <%= f.label :division_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:division_id, options_for_select(['Select'],
                                                    {:selected => @class_teacher.division_id }),
                   {}, class: 'form-control', id: 'division') %>
    </div>
    <%=f.error_span(:division_id) %>
  </div>
  <div class="form-group">
    <%= f.label :teacher_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:teacher_id, options_for_select(Teacher.all.map {|teacher| [teacher.fullname, teacher.id]},
                                                    {:selected => @class_teacher.teacher_id }),
                   {}, class: 'form-control') %>
    </div>
    <%=f.error_span(:teacher_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                class_teachers_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>


<script type="text/javascript">
    $(function () {
        $('select#class_teacher_standard_id').on('click', function () {
            get_divisions();
        });

        var get_divisions = function () {
            var standard_id = $('select#class_teacher_standard_id').val();

            console.log('clicked event');

            $.ajax({
                url: '<%= get_divisions_students_url %>',
                data: 'standard_id='+ standard_id,
                type: 'GET'
            });
        };

        $('#btn-spinner').on('click', function(){
            on();
        });
    });
</script>